.container{
	margin: 0 auto;
	width: 800px;
}

body {
	background: #006400;
}

header {
	padding-top: 10px;
}

header img {
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(0, 50, 0, 0.05);
	margin-top: -5px;
	margin-bottom: -8px;
}

section {
	font-size: 120%;
	padding: 20px;
	background: #FFD700;
}

section h1 {
	font-size: 200%;
}

/* Links */
a {
	color: rgb(217,211,24);
	text-decoration: none;
}

a:hover {
	color: yellow;
	text-decoration: underline;
}

a:visited {
	color: #006400;
}

/* Navigation */

nav.signin {
  float: right;
}

nav.signin ul li.or {
	color: #DAA520;
}

nav.signin {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav.signin ul {
  margin: 0;
  padding: 0;
}

nav.signin ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav.signin ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav.signin ul li a:visited {
  color: #DAA520;
}

nav.signin ul li a:hover {
  text-decoration: underline;
}

/* Menu */

nav.menu ul.menu {
	margin-top: 0px;
	margin-bottom: 8px;
	padding: 4px;
	padding-bottom: 0;
	height: 25px;
	float: center;
}

nav.menu ul.menu li {
	list-style: none;
	float: left;
	padding: 4px;
	margin: 4px;
	text-align: center;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.11, #FFD700),
    color-stop(0.56, rgb(153,168,37)),
    color-stop(0.85, #006400)
);  
    background: -moz-linear-gradient(
    center bottom,
    #FFD700 11%,
    rgb(153,168,37) 56%,
    #006400 90%
);
}

nav.menu ul.menu li a {  
	color: #00CC00; 
	padding: 4px;
	font-size: 125%;
    border-left: 1px solid rgba(0,100,0,0.1);  
    border-right: 1px solid rgba(0,55,0,0.1);
    text-align: center;  
    background : #006400;
    -moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	boder-radius:          10px;
    -webkit-transition-property: background;  
    -webkit-transition-duration: 700ms;  
    -moz-transition-property: background;  
    -moz-transition-duration: 700ms;  
} 

nav.menu ul.menu li a:hover {  
    color: #556B2F;
    background: transparent;
    text-decoration: none;
}  

nav.menu ul.menu li.active a {
    color: green;
}

/* Round corners */
.round {
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	boder-radius:          10px;
}

/* Footer */
footer {
	text-align: center;
	margin-top: 10px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: #FFD700;
	-moz-border-radius:    6px;
	-webkit-border-radius: 6px;
	boder-radius:          6px;
}

footer nav {
	float: none;
}

footer nav ul li{
	list-style: none;
	display: inline-block;
	padding: 0.2em 0;
}

footer nav ul li a {
	color: green;
	padding: 0 5px;
}
footer nav ul li a:hover {
	color: #00CC00;
}
footer nav ul li a:visited {
	color: #006400;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 10px;
}

td.company_links {
  width: 30%;
  padding: 1em;
  vertical-align: top;

}

td.posts{
	width: 75%;
	padding: 1em;
	vertical-align: top;
    background: rgba(193, 160, 4, .25);
}

td.left-sidebar {
  width: 25%;
  padding: 1em;
  vertical-align: top;
  background: rgba(193, 160, 4, .25);
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-top: -15px;
}